Auto Email Reply System.json
{
  "name": "Auto Email Reply System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f81849dd-e30f-4ce6-9130-558d8299e0f2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "vcedu9uYYanE1wBf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        176
      ],
      "id": "7f36ce5c-42fa-4aab-87c0-68f8f96a4164",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VhrTTZueQAIgel15",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following email into a JSON object with the key \"category\" and value either \"order\" or \"inquiry\". Email: {{ $json.snippet }}.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        240,
        -48
      ],
      "id": "bf90ac16-13e3-4ac7-a1e6-4d3590845b60",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "order",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e1e6e40e-17e9-4718-996e-4df2b25cdf24"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0985a6a3-b7a3-4d32-8b41-1612f093824e",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        -48
      ],
      "id": "5ab41c62-f382-48d4-a3bf-cce144b15a31",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=act as copywriter and my personal email assistant, you will reply to this email:\n {{ $('Gmail Trigger').item.json.snippet }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        800,
        -128
      ],
      "id": "192e2378-ec8d-4cd9-bb09-607482a084ca",
      "name": "Order Response",
      "credentials": {
        "openAiApi": {
          "id": "VhrTTZueQAIgel15",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=act as copywriter and my personal email assistant, you will reply to this email:\n {{ $('Gmail Trigger').item.json.snippet }}\n\ngive me subject line and inner email response"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        800,
        48
      ],
      "id": "5c69fc88-25d3-4baf-b138-ea11a7dcf3c8",
      "name": "Inquiry Response",
      "credentials": {
        "openAiApi": {
          "id": "VhrTTZueQAIgel15",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Hello!!",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        -128
      ],
      "id": "24fe3665-0c85-4af7-84bf-b39641bdcf63",
      "name": "Send Order Response",
      "webhookId": "61f53f8c-b23d-49b4-a17b-957d76a8559e",
      "credentials": {
        "gmailOAuth2": {
          "id": "vcedu9uYYanE1wBf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "hello",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        48
      ],
      "id": "378e34b7-9816-4ade-8e0e-50b0749f81e6",
      "name": "Send Inquiry Response",
      "webhookId": "afc893e0-c775-4dc7-8700-48c05cc76ef6",
      "credentials": {
        "gmailOAuth2": {
          "id": "vcedu9uYYanE1wBf",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Order Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inquiry Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Response": {
      "main": [
        [
          {
            "node": "Send Order Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inquiry Response": {
      "main": [
        [
          {
            "node": "Send Inquiry Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "71f68819-2dda-44a1-9ed9-efc7a8300f68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f4c1fa695542c732ce198c9989710acb17eaf0012b7459e9f2d197b5e1a4465"
  },
  "id": "e3bbWsowy0aoII6P",
  "tags": []
}